@import url("https://fonts.googleapis.com/css?family=Raleway:900&display=swap");
@import url('https://fonts.googleapis.com/css?family=Fjalla+One'); 

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}



body {
  background-color:  #dcdcdcdf;
  /* margin-bottom: 100rem; */

}



nav {
  /* height: 6rem; */
  display: flex;
  position: absolute;
  z-index: 10;
  /* padding-top: 1rem; */
  padding-left: 2rem;
  background-color: #00000045;
  width: -moz-available;
  width: -webkit-fill-available;
  animation-name: fade-in-top;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
}

/*Styling logo*/
.logo {
  text-align: center;
  display: flex;
  margin-left: 1rem;
}
.logo img {
  width: 70px;
  height: 70px;
}

.logo h2 {
  text-align: center;
  display: flex;
  align-items: center;
  margin-left: 1rem;
  font-family: var(--f4);
}

/*Styling Links*/
.nav-links {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  align-items: center;
  text-transform: uppercase;
  margin-left: 20rem;
  font-family: var(--f2);
}
.nav-links li a {
  color: black;
  text-decoration: none;
  margin: 0 0.7vw;
}
.nav-links li a:hover {
  color: var(--yellow);
}
.nav-links li {
  position: relative;
  margin: 0 1rem;
}
.nav-links li a::before {
  content: "";
  display: block;
  height: 3px;
  width: 0%;
  background-color: rgb(255, 238, 0);
  position: absolute;
  transition: all ease-in-out 250ms;
  margin: 15px 0 0 10%;
  -webkit-transition: all ease-in-out 250ms;
  -moz-transition: all ease-in-out 250ms;
  -ms-transition: all ease-in-out 250ms;
  -o-transition: all ease-in-out 250ms;
}
.nav-links li a:hover::before {
  width: 80%;
}

/* dropdown menu */




/*Styling flash Icon*/
.flash div {
  width: 30px;
  height: 3px;
  background: var(--yellow);
  margin: 5px;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.flash {
  display: none;
}

/* main */

.bg-video-wrap {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  /* background: url(https://designsupply-web.com/samplecontent/vender/codepen/20181014.png) no-repeat center center/cover; */
}
video {
  min-width: 100%;
  min-height: 100vh;
  z-index: 1;
  width: inherit;
}

.content {
  /* position: fixed; */
  bottom: 0;
  /* background: rgba(0, 0, 0, 0.5); */
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}




/* slider text animation */

main .content #container1 {
  position: absolute;
  margin: auto;
  width: 100vw;
  height: 80pt;
  top: 0;
  bottom: 0;

  /* filter: url(#threshold); */
}

main .content #container1 #text1,
main .content #container1 #text2 {
  position: absolute;
  width: 100%;
  display: inline-block;

  font-family:var(--f6);
  font-size: 60px;

  text-align: center;

  user-select: none;
}


/* services phone screen hide */
.s-phone{
  display: none;
}

/* thoughts codes */

body .thoughts{
  margin-top: 5rem;
}

.thoughts .wordCarousel {
  background-color: rgb(245, 245, 245);
  padding: 3rem 13vw;
  width: fit-content;
  margin: auto;
  border-radius: 20px;
  font-size: 28px;
  font-weight: 100;
  color: rgb(5, 5, 5);
  font-family: var(--f6);
}
.thoughts .wordCarousel div {
  overflow: hidden;
  position: relative;
  float: right;
  height: 65px;
  /* padding-top: 10px; */
  /* margin-top: -10px; */
}
.thoughts .wordCarousel div li {
  color: rgb(255, 223, 15);
  font-weight: 700;
  padding: 0 10px;
  height: 45px;
  margin-bottom: 45px;
  display: block;
}

.flip {
  -webkit-animation: flip 10s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
          animation: flip 10s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
}


/* 2nd thought */

.thoughts .wordCarousel h1{
  font-size: 21px;
  font-family: var(--f6);
  letter-spacing: 4px;
}


/* about */
/* about start */

#about{
  /* background-color: white; */
  padding-top: 5rem;
  animation-name: fade-in-top;
  animation-duration: 6s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
}

#about .about-container{
  margin: 0rem 10rem;
  display: flex;
}

/* about img and span start */

#about .about-container .arjun-img img{
  width: 500px;
}
#about .about-container .arjun-img span{
  display: grid;
  font-family: var(--f6);
  text-align: center;
  /* rotate: 10deg; */
}
/* about img and span end */

/* about heading start */

#about .about-container .about-heading-phone{
  display: none;
}

#about .about-container .arjun-text{
  margin: 0 1rem 0 5rem;
}
#about .about-container .arjun-text .about-heading h2{
  font-family: var(--f8);
  border-bottom: 3px solid yellow;
  display: inline-flex;
}

#about .about-container .arjun-text .about-p p{
  margin-top: 1rem;
  word-spacing: 2px;
  font-family: var(--f8);
  line-height: 30px;
}


/* about heading end*/



.mid-designs {
  margin-top: -3rem;
 
}

.svg-about-bottom-pc{
  margin-bottom: -20px;
}

#about .svg-about-phone{
  display: none;
}




/* about end */

/* services start */

#services{
    animation-name: fade-in-top;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
  margin-top: -5.6rem;
  padding-top: 5rem;
  margin-bottom: 6rem;
}




/* services slider codes */


/* heading editng */
.services-main .s-main-head h2{
  font-family: var(--f8);
  border-bottom: 3px solid yellow;
  display: table;
  margin: auto;
}


.services-main .s-main-head span{
  color: #3f3f3f9e;
  margin: auto;
  display: table;
  padding-top: 1rem;
  padding-bottom: 5rem;
}

.slider{
  max-width: 1100px;
  display: block;
  overflow: hidden;
  margin: auto;

}
.slider .card{
  flex: 1;
  margin: 0 10px;
  background: #fff;
  transition: box-shadow 0.2s ease-in-out, transform 0.35s ease-in-out;
}
.slider .card .img{
  height: 200px;
  width: 100%;
}
.slider .card .img img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.slider .card .content{
  padding: 15px 20px;
}

.card:hover {
  box-shadow: 0 11px 11px 0 rgba(0, 0, 0,.16);
  transform: translateY(-5px);
}

.card .content .title{
  font-size: 25px;
  font-weight: 600;
  font-family: var(--f4);
  color: black;
}
.card .content .sub-title{
  font-size: 20px;
  font-weight: 600;
  color: #e74c3c;
  line-height: 20px;
}
.card .content p{
  text-align: justify;
  margin: 10px 0;
  font-family: var(--f4);
  color: #131418;

}


/*service phone size screen hide code */

.phone-screen-services{
  display: none;
}

/* services end */

.strategy-for-phone{
  display: none;
}



/* footer style */

footer {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  min-height: 24vh;
  background-image: url(../../photos/bg/b6.jpg);
}


footer p {
  /* margin-top: -5rem; */
  padding-top: 3rem;
  font-weight: 700;
  text-align: center;
  font-size: 25px;
  font-family: var(--f9);
  text-transform: uppercase;
  /* margin-top: -2rem; */
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.904), rgb(216, 216, 216), rgba(0, 0, 0, 0.904));
  letter-spacing: 5px;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-repeat: no-repeat;
  background-size: 80%;
  animation: shine 13s linear infinite;
  position: relative;
}

footer h4{
  padding-top: 10px;
 text-align: center;
 font-family: var(--f6);
 /* text-decoration: underline; */
  color: rgba(155, 155, 155, 0.651);
}

@keyframes shine {
  0% {
    background-position-x: -350%;
  }
  100% {
    background-position-x: 350%;
  }
}


















