
  .go-top {
    position:fixed;
    bottom: 20%;
    right: 4%;
    padding:20px;
    display:none;
    cursor: pointer;
      -webkit-font-smoothing: antialiased;
  }
  .go-top:after {
    font-family: FontAwesome;
    content: "\f106";
      background-color: #f0f0e5;
      padding: 10px 20px;
    color: #6a6e7c;
    position: absolute; 
    bottom:10px;
    font-size: 28px;
    border-radius: 10%;
  }
  
  .go-top-text {
      position: inherit;
      width: 60px;
      text-align: center;
      font-family: var(--f6);
      line-height: 1.5;
      letter-spacing: 3px;
      font-size: 12px;
      margin: 20px 0 0 -4px;
  }
  
  .go-top:hover {
      transition: all .4s linear;
      transform: scale(1.1);
      color: rgb(162, 162, 162);
  }